@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --main-color: #288743;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Pantallas grandes */

@media (min-width: 1400px) {
  html {
    font-size: 24px;
  }
}

/* Tabletas  */

@media (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* Celulares  */

@media (max-width: 450px) {
  html {
    font-size: 14px;
  }
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
}

.app{
    position: relative;
}

aside{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #151515;
}

.title-side{
    margin-top: 2rem;
    font-weight: 600;
    font-size: 2em;
    padding-left: 48px;
}

.menu-item{
    text-decoration: none;
    color: white;
    border-right: 4px solid inherit;
    font-size: 1.3rem;
    padding: 24px;
}

.menu-item:hover{
    border-right: 8px solid var(--main-color);
    color: #FFFFFF;
    background: #232323;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

nav{
    position: fixed;
    margin: 2rem 1.5rem 0 1.5rem;
    top: 0;
    display: flex;
    justify-content: space-between;
    min-width: 90vw;
    align-items: center;
    font-size: 2rem;
}

.bx-menu{
    font-size: 3rem;
    cursor: pointer;
}
.bx-arrow-back{
    cursor: pointer;
}

#menu{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.bx-menu:active,
.bx-arrow-back:hover{
    color: #D9D9D9;
}



main{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    position: absolute;
    top: 50%;
    /* -ms-transform: translateY(-50%); */
    transform: translateY(-50%);
}

.title{
    text-align: center;
    font-weight: 600;
    font-size: 3em;
}
#input-text{
    text-align: center;
}
#input-text::placeholder{
    text-align: center;
}

.text{
    text-align: center;
}

.name input{
    border-radius: 25px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background: #D9D9D9;
    border: 0px;
    outline: 0px;
    max-width: 80vw;
}

.name > input:focus{
    box-shadow: 0px 2px 16px 0px rgba(255, 255, 255, 0.3);
}

.name > input[type="submit"]{
    background-color: #de8b8b;
    color: white;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.name > input[type="submit"]:hover{
    background-color: transparent;
    border: 2px solid white;
}
.button{
    margin: 24px;
}

.button input{
    color:#151515;
    font-size: 1em;
    font-weight: 600;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}

.button input:hover{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}


/* List container */
.list-cont{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding: 1rem;
    max-width: 70vw;
    max-height: 70vh;
}

.list{
    color: #151515;
    width: 50vw;
    max-height: 15rem;
    min-height: 15vh;
    font-size: 0.4rem;
    overflow-y: auto;
}


.Flipped{
    direction: rtl;
}

.Content{
    direction: ltr;
}

.participants{
    padding-left: 0.5em;
    font-size: 1rem;
}

#Edit{
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 0;
    background-color: #a9a9a9;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.bx-edit{
    margin-left: 5px;
}

#Edit:hover{
    background-color: #d90000;
    cursor: pointer;
}

#titleSpan{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 9vw;
}
.titlePart > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#entry,
#change-text{
    text-align: center;
    font-weight: 500;
    margin-top: 12px;
    width: 10rem;
}

#entry::placeholder,
#change-text::placeholder{
    color: #606060
}

.titlePart{
    display: grid;
    grid-template-columns: 10fr 1fr;
    color: #151515;
    font-weight: 600;
}

::-webkit-scrollbar {
    background-color: #c0c0c0;
    border-radius: 10px;
    width: 6px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #959595;
}

.edit-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}

.edit-options input{
    border-radius: 8px;
    border: 0;
    background-color: #a9a9a9;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
}
#restart,
#delete,
#change{
    margin-left: 0;
}
#restart:hover{
    background-color: green;
}

#delete:hover{
    background-color: red;
}

#change:hover{
    background-color: orange;
}

/* --------- Result ---------- */

.result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    opacity: 100%;
}

.result-name{
    font-size: 2.8rem;
    font-weight: 800;
}


.hide{
    display: none;
}

.show{
    display: flex;
    transition: 1s;
}

#github{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
}

.bxl-github{
    font-size: 1.5rem;
}

